bio==1.5.8
chembl-downloader==0.4.2
ete3==3.1.2
fastparquet==2023.2.0
fsspec==2023.1.0
jupyter==1.0.0
matplotlib==3.6.3
matplotlib-venn==0.11.9
networkx==2.8.3
obonet==0.3.0
openTSNE==0.6.2
pandas==1.5.2
PubChemPy==1.0.4
pybatchclassyfire==0.1.6
s3fs==2023.1.0
rdkit==2022.9.1
requests-cache==0.9.8
seaborn==0.12.2
scikit-learn==1.2.1
scipy==1.10.0
sklearn==0.0.post1
tqdm==4.64.1
